<section
  class="sidebar-container"
  [@containerAnimation]="open ? 'open' : 'closed'"
>
  <nav>
    <div class="logo">
      <logo />
    </div>
    <ul>
      @for (item of items; track $index) {
      <li [routerLink]="item.link" routerLinkActive="active">
        <mat-icon [svgIcon]="item.icon"></mat-icon>
        <span>{{ item.text }}</span>
      </li>
      }
    </ul>
    <!-- <mat-icon (click)="open = !open">arrow_back</mat-icon> -->
  </nav>
  <main class="">
    <ng-content></ng-content>
  </main>
</section>
