<ng-container *ngIf="data$ | async as obs">
  <section class="">
    <div class="stats shadow bg-white w-full">
      <div class="stat">
        <div class="stat-figure text-primary">
          <mat-icon>man</mat-icon>
        </div>
        <div class="stat-title">الاسرة</div>
        <div class="stat-value text-black">
          {{ obs.mina.males.beds.created }}
          <span class="text-xl text-gray-400">
            / {{ obs.mina.males.total }} عدد الرجال
          </span>
        </div>
        <div class="stat-desc"></div>
        <div
          class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mt-5"
        >
          <div
            class="bg-primary h-2.5 rounded-full"
            [style.width.%]="
              (obs.mina.males.beds.created / obs.mina.males.total) * 100
            "
          ></div>
        </div>
      </div>

      <div class="stat">
        <div class="stat-figure text-primary">
          <mat-icon>man</mat-icon><mat-icon>home</mat-icon>
        </div>
        <div class="stat-title">التسكين</div>
        <div class="stat-value text-black">
          {{ obs.mina.males.beds.available }}
          <span class="text-xl text-gray-400">
            / {{ obs.mina.males.beds.required }} عدد الأسرة المطلوبة
          </span>
        </div>
        <div
          class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mt-5"
        >
          <div
            class="bg-primary h-2.5 rounded-full"
            [style.width.%]="
              (obs.mina.males.beds.allocated / obs.mina.males.total) * 100
            "
          ></div>
        </div>
      </div>

      <div class="stat">
        <div class="stat-figure text-primary">
          <mat-icon class="text-pink-600">woman</mat-icon>
        </div>
        <div class="stat-title">الاسرة</div>
        <div class="stat-value text-black">
          {{ obs.mina.females.beds.created }}
          <span class="text-xl text-gray-400">
            / {{ obs.mina.females.total }} عدد النساء
          </span>
        </div>
        <div class="stat-desc"></div>
        <div
          class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mt-5"
        >
          <div
            class="bg-primary h-2.5 rounded-full"
            [style.width.%]="
              (obs.mina.females.beds.created / obs.mina.females.total) * 100
            "
          ></div>
        </div>
      </div>

      <div class="stat">
        <div class="stat-figure text-pink-600">
          <mat-icon>woman</mat-icon><mat-icon>home</mat-icon>
        </div>
        <div class="stat-title">التسكين</div>
        <div class="stat-value text-black">
          {{ obs.mina.females.beds.available }}
          <span class="text-xl text-gray-400">
            / {{ obs.mina.females.beds.required }} عدد الأسرة المطلوبة
          </span>
        </div>
        <div
          class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mt-5"
        >
          <div
            class="bg-primary h-2.5 rounded-full"
            [style.width.%]="
              (obs.mina.females.beds.allocated / obs.mina.females.total) * 100
            "
          ></div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
