<h2 mat-dialog-title>
  {{ data.type === "create" ? "انشاء" : "تعديل" }}
</h2>

<!-- -->

<ng-container>
  <ng-container *ngIf="data$ | async as obs">
    @if(obs.isLoading) {
    <ng-container>
      <div class="h-[200px] flex justify-center items-center">
        <span class="loading loading-dots loading-lg"></span>
      </div>
    </ng-container>
    }@else if(obs.status ==='success' && data.type !=='create') {

    <ng-container *ngTemplateOutlet="stateTemp"></ng-container>
    } @else {
    <div class="" mat-dialog-content>
      <div class="" [formGroup]="form">
        <div class="tp-control">
          <label> عدد الموظفين</label>
          <label
            class="input input-bordered flex items-center gap-2"
            [ngClass]="{
              'input-error':
                controls.num_employees.touched && controls.num_employees.errors
            }"
          >
            <input
              type="number"
              class="w-full"
              maxlength="100"
              placeholder="100"
              formControlName="num_employees"
            />
          </label>
          @if(controls.num_employees.touched && controls.num_employees.errors) {
          <small> حدث خطا </small>
          }
        </div>
        <div class="tp-control">
          <label> العنوان </label>

          <select
            class="select select-bordered w-full"
            formControlName="city"
            [ngClass]="{
              'select-error': controls.city.touched && controls.city.errors
            }"
          >
            @for (l of locations$ | async; track $index) {
            <option [value]="l.city.name">{{ l.name }}</option>
            }
          </select>
          @if(controls.city.touched && controls.city.errors) {
          <small> حدث خطا </small>
          }
        </div>

        @if(obs.status === 'success') {
        <ng-container *ngIf="peek$ | async as peek">
          <div class="flex flex-col gap-2">
            <div>
              <strong>المجموعات</strong>
              <span>{{ peek.total_groups }}</span>
            </div>
            <div>
              <strong>الحجاج</strong>
              <span>{{ peek.total_pilgrims }}</span>
            </div>

            <div class="flex flex-wrap gap-4">
              @for (item of peek.distribution; track $index) {
              <tp-distribute-group-card
                [id]="item.identifiers"
                [total]="item.total_groups"
              />
              }
            </div>
            <button class="btn btn-primary" (click)="send()">تطبيق</button>
          </div>
        </ng-container>
        }
      </div>
    </div>
    <mat-dialog-actions class="flex gap-1 !justify-end pt-5">
      @if (data.type === 'create') {
      <button
        class="btn btn-primary"
        (click)="action()"
        [disabled]="!form.valid && form.touched"
      >
        ارسال
      </button>
      }
      <button class="btn btn-secondary btn-outline" mat-dialog-close>
        اغلاق
      </button>
    </mat-dialog-actions>
    }

    <ng-template #stateTemp>
      @if (obs.status === 'success') {

      <div class="flex gap-4 items-center">
        <mat-icon class="text-success !w-10 !h-10 !text-[40px] !leading-10"
          >check</mat-icon
        >
        <h3 class="py-4 text-lg font-semibold">
          {{ "تم الارسال بنجاح" }}
        </h3>
      </div>
      } @else if (obs.status === 'error') {
      <div class="flex gap-4 items-center">
        <mat-icon class="text-error !w-10 !h-10 !text-[40px] !leading-10"
          >warning</mat-icon
        >
        <h3 class="py-4 text-lg font-semibold">
          {{ "خطأ في الارسال" }}
        </h3>
      </div>
      }
    </ng-template>
  </ng-container>
</ng-container>
