<section
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
>
  @for (item of obs |async; track $index) {

  <div class="card shadow-xl">
    <div class="card-body flex gap-8">
      <header class="card-title text-primary">{{ item.number }}</header>
      <ul class="list-data">
        <li>
          <span class="label">
            <mat-icon
              [ngClass]="{
                'text-pink-500': !item.is_male_accommodation,
                'text-primary': item.is_male_accommodation
              }"
              >{{ item.is_male_accommodation ? "man" : "woman" }}</mat-icon
            >
            {{ item.is_male_accommodation ? "سكن للذكور" : "سكن للاناث" }}
          </span>
        </li>

        <li>
          <span class="label">
            <mat-icon>weekend</mat-icon>
            عدد الصالات
          </span>
          <span class="total">{{ item.lounges?.length || 0 }}</span>
        </li>
      </ul>

      <div class="flex justify-between gap-4">
        <button class="btn btn-primary" [routerLink]="item.id + ''">
          عرض الاجنحة
        </button>
        <button class="btn btn-accent">عرض الاجنحة</button>
      </div>
    </div>
  </div>
  }
</section>
