<section class="page-content">
  <h1 class="page-title">سكن منى - باقة 4</h1>
  <div class="grid grid-cols-4 gap-4"></div>
  <div class="flex w-full justify-end">
    <div [routerLink]="['create']">
      <button class="btn btn-primary">انشاء سكن جديد</button>
    </div>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
  >
    @for (item of obs | async; track $index) {
    <tp-mina-building-card [data]="item" />
    }
  </div>
  <div class="flex justify-center">
    <mat-paginator
      appTpPaginator
      [appCustomLength]="dataSource.data.length"
      [length]="dataSource.data.length"
      [pageSize]="4"
    />
  </div>
</section>
