<section class="page-content">
  <h1 class="page-title">توزيعات باقة {{ pack === "package1" ? "1" : "4" }}</h1>
  <div class="grid grid-cols-4 gap-4"></div>
  <div class="flex justify-start">
    <button class="btn btn-sm btn-primary" (click)="openDialog()">
      انشاء توزيع
    </button>
  </div>
  @if (isLoading$ | async) {
  <ng-container>
    <div class="shadow-xl card bg-white">
      <div class="h-[200px] flex justify-center items-center">
        <span class="loading loading-dots loading-lg"></span> جاري التحميل
      </div>
    </div>
  </ng-container>
  } @else {

  <div class="block">
    <ng-container *ngIf="list$ | async as list">
      @if(list.length > 0){

      <div role="tablist" class="tabs tabs-boxed bg-white shadow-lg">
        @for (item of list; track $index) {
        <input
          type="radio"
          name="dist"
          role="tab"
          class="tab"
          attr.aria-label="{{ item.city }}"
        />
        <div role="tabpanel" class="tab-content p-10">
          <div class="flex flex-wrap gap-4">
            @for (i of item.groups; track $index) {
            <tp-distribute-group-card
              class=""
              [id]="i.identifier"
              [total]="i.pilgrims.length"
              span="عدد الحجاج"
            ></tp-distribute-group-card>

            }
          </div>
        </div>
        }
      </div>
      } @else {
      <p class="text-center py-8 text-gray-500 card bg-white shadow-lg">
        لايوجد توزيعات
      </p>
      }
    </ng-container>
  </div>
  }
</section>
