<div class="flex justify-end items-center py-4">
  <button class="btn btn-primary" (click)="openDialog()">
    انشاء حافلة جديدة
  </button>
</div>

<section class="table-container">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <ng-container matColumnDef="bus_name">
      <th mat-header-cell *matHeaderCellDef>اسم الحافلة</th>
      <td mat-cell *matCellDef="let element">
        {{ element.bus_name + " " + element.bus_plate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="bus_code">
      <th mat-header-cell *matHeaderCellDef>رمز الحالفة</th>
      <td mat-cell *matCellDef="let element">{{ element.bus_code }}</td>
    </ng-container>

    <ng-container matColumnDef="max_capacity">
      <th mat-header-cell *matHeaderCellDef>السعة</th>
      <td mat-cell *matCellDef="let element">
        {{ element.max_capacity }} / {{ element.current_capacity }}
      </td>
    </ng-container>
    <ng-container matColumnDef="supervisor_info">
      <th mat-header-cell *matHeaderCellDef>المشرف</th>
      <td mat-cell *matCellDef="let element">
        {{ element.supervisor.name }} - {{ element.supervisor.phone_number }}
      </td>
    </ng-container>
    <ng-container matColumnDef="start_location_name">
      <th mat-header-cell *matHeaderCellDef>عنوان الانطلاق</th>
      <td mat-cell *matCellDef="let element">
        {{ element.start_location_name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="destination_location_name">
      <th mat-header-cell *matHeaderCellDef>عنوان الوصول</th>
      <td mat-cell *matCellDef="let element">
        {{ element.destination_location_name }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="flex justify-between items-center pt-4">
    <button matRipple class="button-primary">تسكين الكل</button>
    <mat-paginator
      appTpPaginator
      [appCustomLength]="dataSource.data.length"
      [length]="dataSource.data.length"
      [pageSize]="10"
    ></mat-paginator>
    <button matRipple class="button-primary-tint">تصدير ملف CSV</button>
  </div>
</section>
