<h2 mat-dialog-title>
  {{ data.type === "create" ? "انشاء حافلة جديدة" : "تعديل بيانات الحافلة" }}
</h2>
<ng-container *ngIf="data$ | async as obs">
  @if(obs.isLoading) {
  <ng-container>
    <div class="h-[200px] flex justify-center items-center">
      <span class="loading loading-dots loading-lg"></span>
    </div>
  </ng-container>
  } @else{
  <mat-dialog-content>
    @if (obs.status === 'success') {
    <div class="flex gap-4 items-center">
      <mat-icon class="text-success !w-10 !h-10 !text-[40px] !leading-10"
        >check</mat-icon
      >
      <h3 class="py-4 text-lg font-semibold">
        {{
          data.type === "create"
            ? "تم انشاء حافلة جديدة بنجاح"
            : "تم تعديل بيانات الحافلة بنجاح"
        }}
      </h3>
    </div>
    } @else if (obs.status === 'error') {
    <div class="flex gap-4 items-center">
      <mat-icon class="text-error !w-10 !h-10 !text-[40px] !leading-10"
        >warning</mat-icon
      >
      <h3 class="py-4 text-lg font-semibold">
        {{
          data.type === "create"
            ? "خطأ في انشاء حافلة جديدة"
            : "خطأ في تعديل بيانات الحافلة"
        }}
      </h3>
    </div>
    } @else{
    <div class="flex flex-col gap-3 pt-3" [formGroup]="form">
      <div class="tp-control">
        <label> اسم </label>
        <label
          class="input input-bordered flex items-center gap-2"
          [ngClass]="{
            'input-error': controls.bus_name.touched && controls.bus_name.errors
          }"
        >
          <input
            type="text"
            class="w-full"
            placeholder="حافلة 1"
            formControlName="bus_name"
          />
        </label>
        @if(controls.bus_name.touched && controls.bus_name.errors) {
        <small> حدث خطا </small>
        }
      </div>
      <div class="grid md:grid-cols-2 grid-cols-1 gap-3">
        <div class="tp-control">
          <label> رمز </label>
          <label
            class="input input-bordered flex items-center gap-2"
            [ngClass]="{
              'input-error':
                controls.bus_code.touched && controls.bus_code.errors
            }"
          >
            <input
              type="text"
              class="w-full"
              placeholder="XXXX"
              formControlName="bus_code"
            />
          </label>
          @if(controls.bus_code.touched && controls.bus_code.errors) {
          <small> حدث خطا </small>
          }
        </div>
        <div class="tp-control">
          <label> لوحة </label>
          <label
            class="input input-bordered flex items-center gap-2"
            [ngClass]="{
              'input-error':
                controls.bus_plate.touched && controls.bus_plate.errors
            }"
          >
            <input
              type="text"
              class="w-full"
              placeholder="XXX 0000"
              formControlName="bus_plate"
            />
          </label>
          @if(controls.bus_plate.touched && controls.bus_plate.errors) {
          <small> حدث خطا </small>
          }
        </div>
      </div>
      <div class="grid md:grid-cols-2 grid-cols-1 gap-3">
        <div class="tp-control">
          <label> سعة الركاب </label>
          <label
            class="input input-bordered flex items-center gap-2"
            [ngClass]="{
              'input-error':
                controls.max_capacity.touched && controls.max_capacity.errors
            }"
          >
            <input
              type="text"
              class="w-full"
              placeholder="100"
              formControlName="max_capacity"
            />
          </label>
          @if(controls.max_capacity.touched && controls.max_capacity.errors) {
          <small> حدث خطا </small>
          }
        </div>
        <div class="tp-control">
          <label> السعة الحالية </label>
          <label
            class="input input-bordered flex items-center gap-2"
            [ngClass]="{
              'input-error':
                controls.current_capacity.touched &&
                controls.current_capacity.errors
            }"
          >
            <input
              type="text"
              class="w-full"
              placeholder="XXX 0000"
              formControlName="current_capacity"
            />
          </label>
          @if(controls.current_capacity.touched &&
          controls.current_capacity.errors) {
          <small> حدث خطا </small>
          }
        </div>
      </div>
      @if (!addSupervisor) {

      <div class="flex items-end gap-3">
        <div class="tp-control flex-1">
          <label>المشرف</label>
          <select class="select select-bordered w-full">
            <option disabled selected>Who shot first?</option>
            <option>Han Solo</option>
            <option>Greedo</option>
          </select>
        </div>
        <button class="btn btn-ghost" (click)="addSupervisor = true">
          اضافة
        </button>
      </div>
      } @else {
      <ng-container *ngTemplateOutlet="supervisorTemp"></ng-container>
      } @if (!addStartLocation) {
      <div class="flex items-end gap-3">
        <div class="tp-control flex-1">
          <label>موقع الانطلاق</label>
          <select class="select select-bordered w-full">
            <option disabled selected>Who shot first?</option>
            <option>Han Solo</option>
            <option>Greedo</option>
          </select>
        </div>
        <button class="btn btn-ghost" (click)="addStartLocation = true">
          اضافة
        </button>
      </div>
      } @else {
      <ng-container *ngTemplateOutlet="startLocationTemp"></ng-container>

      } @if (!addDestinationLocation) {

      <div class="flex items-end gap-3">
        <div class="tp-control flex-1">
          <label>موقع الوصول</label>
          <select class="select select-bordered w-full">
            <option disabled selected>Who shot first?</option>
            <option>Han Solo</option>
            <option>Greedo</option>
          </select>
        </div>
        <button class="btn btn-ghost" (click)="addDestinationLocation = true">
          اضافة
        </button>
      </div>
      } @else {
      <ng-container *ngTemplateOutlet="destinationTemp"></ng-container>
      }
    </div>
    }
  </mat-dialog-content>
  <mat-dialog-actions class="flex gap-1 !justify-end pt-5">
    @if (obs.status === 'prompt') {
    <button
      class="btn btn-primary"
      (click)="action()"
      [disabled]="!form.valid && form.touched"
    >
      ارسال
    </button>
    }
    <button class="btn btn-secondary btn-outline" mat-dialog-close>
      اغلاق
    </button>
  </mat-dialog-actions>
  }
</ng-container>

<ng-template #supervisorTemp>
  <div
    class="grid md:grid-cols-2 grid-cols-1 gap-3"
    [formGroup]="form.controls.supervisor"
  >
    <div class="tp-control">
      <label> اسم</label>
      <label
        class="input input-bordered flex items-center gap-2"
        [ngClass]="{
          'input-error':
            controls.supervisor.controls.name.touched &&
            controls.supervisor.controls.name.errors
        }"
      >
        <input
          type="text"
          class="w-full"
          placeholder="اسم المشرف"
          formControlName="name"
        />
      </label>
      @if(controls.supervisor.controls.name.touched &&
      controls.supervisor.controls.name.errors) {
      <small> حدث خطا </small>
      }
    </div>
    <div class="tp-control">
      <label> رقم الجوال</label>
      <label
        class="input input-bordered flex items-center gap-2"
        [ngClass]="{
          'input-error':
            controls.supervisor.controls.phone_number.touched &&
            controls.supervisor.controls.phone_number.errors
        }"
      >
        <input
          type="text"
          class="w-full"
          maxlength="10"
          placeholder="05XXXXXXXX"
          formControlName="phone_number"
        />
      </label>
      @if(controls.supervisor.controls.phone_number.touched &&
      controls.supervisor.controls.phone_number.errors) {
      <small> حدث خطا </small>
      }
    </div>
  </div>
</ng-template>

<ng-template #startLocationTemp>
  <div class="flex flex-col gap-3" [formGroup]="form.controls.start_location">
    <div class="tp-control">
      <label> اسم عنوان الانطلاق</label>
      <label
        class="input input-bordered flex items-center gap-2"
        [ngClass]="{
          'input-error':
            controls.start_location.controls.name.touched &&
            controls.start_location.controls.name.errors
        }"
      >
        <input
          type="text"
          class="w-full"
          maxlength="100"
          placeholder="00.0000000000000000"
          formControlName="name"
        />
      </label>
      @if(controls.start_location.controls.name.touched &&
      controls.start_location.controls.name.errors) {
      <small> حدث خطا </small>
      }
    </div>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-3">
      <div class="tp-control">
        <label> lat</label>
        <label
          class="input input-bordered flex items-center gap-2"
          [ngClass]="{
            'input-error':
              controls.start_location.controls.lat.touched &&
              controls.start_location.controls.lat.errors
          }"
        >
          <input
            type="text"
            class="w-full"
            maxlength="200"
            placeholder="00.0000000000000000"
            formControlName="lat"
          />
        </label>
        @if(controls.start_location.controls.lat.touched &&
        controls.start_location.controls.lat.errors) {
        <small> حدث خطا </small>
        }
      </div>
      <div class="tp-control">
        <label> lng</label>
        <label
          class="input input-bordered flex items-center gap-2"
          [ngClass]="{
            'input-error':
              controls.start_location.controls.lng.touched &&
              controls.start_location.controls.lng.errors
          }"
        >
          <input
            type="text"
            class="w-full"
            maxlength="200"
            placeholder="00.0000000000000000"
            formControlName="lng"
          />
        </label>
        @if(controls.start_location.controls.lng.touched &&
        controls.start_location.controls.lng.errors) {
        <small> حدث خطا </small>
        }
      </div>
    </div>
    <div class="tp-control">
      <label> المدية</label>
      <label
        class="input input-bordered flex items-center gap-2"
        [ngClass]="{
          'input-error':
            controls.destination_location.controls.city.touched &&
            controls.destination_location.controls.city.errors
        }"
      >
        <input
          type="text"
          class="w-full"
          maxlength="100"
          placeholder="00.0000000000000000"
          formControlName="city"
        />
      </label>
      @if(controls.destination_location.controls.city.touched &&
      controls.destination_location.controls.city.errors) {
      <small> حدث خطا </small>
      }
    </div>
  </div>
</ng-template>

<ng-template #destinationTemp>
  <div
    class="flex flex-col gap-3"
    [formGroup]="form.controls.destination_location"
  >
    <div class="tp-control">
      <label> اسم عنوان الوصول</label>
      <label
        class="input input-bordered flex items-center gap-2"
        [ngClass]="{
          'input-error':
            controls.destination_location.controls.name.touched &&
            controls.destination_location.controls.name.errors
        }"
      >
        <input
          type="text"
          class="w-full"
          maxlength="100"
          placeholder="00.0000000000000000"
          formControlName="name"
        />
      </label>
      @if(controls.destination_location.controls.name.touched &&
      controls.destination_location.controls.name.errors) {
      <small> حدث خطا </small>
      }
    </div>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-3">
      <div class="tp-control">
        <label> lat</label>
        <label
          class="input input-bordered flex items-center gap-2"
          [ngClass]="{
            'input-error':
              controls.destination_location.controls.lat.touched &&
              controls.destination_location.controls.lat.errors
          }"
        >
          <input
            type="text"
            class="w-full"
            maxlength="200"
            placeholder="00.0000000000000000"
            formControlName="lat"
          />
        </label>
        @if(controls.start_location.controls.lat.touched &&
        controls.start_location.controls.lat.errors) {
        <small> حدث خطا </small>
        }
      </div>
      <div class="tp-control">
        <label> lng</label>
        <label
          class="input input-bordered flex items-center gap-2"
          [ngClass]="{
            'input-error':
              controls.start_location.controls.lng.touched &&
              controls.start_location.controls.lng.errors
          }"
        >
          <input
            type="text"
            class="w-full"
            maxlength="200"
            placeholder="00.0000000000000000"
            formControlName="lng"
          />
        </label>
        @if(controls.start_location.controls.lng.touched &&
        controls.start_location.controls.lng.errors) {
        <small> حدث خطا </small>
        }
      </div>
    </div>

    <div class="tp-control">
      <label> المدية</label>
      <label
        class="input input-bordered flex items-center gap-2"
        [ngClass]="{
          'input-error':
            controls.destination_location.controls.city.touched &&
            controls.destination_location.controls.city.errors
        }"
      >
        <input
          type="text"
          class="w-full"
          maxlength="100"
          placeholder="00.0000000000000000"
          formControlName="city"
        />
      </label>
      @if(controls.destination_location.controls.city.touched &&
      controls.destination_location.controls.city.errors) {
      <small> حدث خطا </small>
      }
    </div>
  </div>
</ng-template>
