<h1 class="text-center font-bold mb-8 text-primary">
  ** هذه الواجهة مخصصة للحجاج فقط **
</h1>
<section>
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body" [formGroup]="form">
      <h2 class="card-title mb-4">تسجيل دخول</h2>
      @if (!isLoading) {

      <ng-container>
        <label
          class="input input-bordered input-secondary flex items-center gap-2"
          [ngClass]="{
            'input-error':
              controls.national_id.touched && controls.national_id.errors
          }"
        >
          <input
            type="text"
            maxlength="10"
            class="grow"
            placeholder="رقم الهوية"
            formControlName="national_id"
          />
          @if (controls.national_id.touched && controls.national_id.errors) {}
          <small class="text-error-500"></small>
        </label>

        <div class="card-actions justify-end mt-4">
          <button
            class="btn btn-primary"
            [disabled]="isLoading"
            (click)="login()"
          >
            تسجيل دخول
          </button>
        </div>
        <div class="" *ngIf="hasError">
          <p class="text-error">خطأ في التسجيل</p>
        </div>
      </ng-container>
      } @else {
      <ng-container>
        <div class="h-[200px] flex justify-center items-center">
          <span class="loading loading-dots loading-lg"></span>
        </div>
      </ng-container>
      }
    </div>
  </div>
</section>
