<h2 mat-dialog-title>تحديث صورة الحاج</h2>
<ng-container *ngIf="data$ | async as obs">
  @if(obs.isLoading || isLoaidng) {
  <ng-container>
    <div class="h-[200px] flex justify-center items-center">
      <span class="loading loading-dots loading-lg"></span>
    </div>
  </ng-container>
  } @else{
  <mat-dialog-content>
    @if (obs.status === 'success' || status === 'success') {
    <div class="flex gap-4 items-center">
      <mat-icon class="text-success !w-10 !h-10 !text-[40px] !leading-10"
        >check</mat-icon
      >
      <h3 class="py-4 text-lg font-semibold">تم تحديث صورة الحاج بنجاح</h3>
    </div>
    } @else if (obs.status === 'error' || status === 'error') {
    <div class="flex gap-4 items-center">
      <mat-icon class="text-error !w-10 !h-10 !text-[40px] !leading-10"
        >warning</mat-icon
      >
      <h3 class="py-4 text-lg font-semibold">فشل تحديث صورة الحاج</h3>
    </div>
    } @else{
    <div class="flex justify-center items-center w-40 h-40" *ngIf="img">
      <img [src]="img" class="w-full h-full object-cover" />
    </div>
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">اختر ملف</span>
      </div>
      <input
        type="file"
        #file
        (change)="onFileChange($event)"
        class="file-input file-input-bordered file-input-accent w-full max-w-xs"
        accept="image/*"
      />
      <div class="label">
        <span class="label-text-alt">.png, .jpg, .jpeg</span>
      </div>
    </label>
    }
  </mat-dialog-content>
  <mat-dialog-actions class="flex gap-1 !justify-end">
    @if ( status === 'prompt') {
    <button
      class="btn btn-primary"
      (click)="onClick()"
      [disabled]="!fileCtrl.valid && fileCtrl.touched"
    >
      ارسال
    </button>
    }
    <button class="btn btn-secondary btn-outline" mat-dialog-close>
      اغلاق
    </button>
  </mat-dialog-actions>
  }
</ng-container>
