<section class="page-content">
  <h1 class="page-title">
    سكن عرفة - باقة {{ pack === "package1" ? "1" : "4" }}
  </h1>
  @if (isLoading$ | async) {
  <ng-container>
    <div class="shadow-xl card bg-white">
      <div class="h-[200px] flex justify-center items-center">
        <span class="loading loading-dots loading-lg"></span> جاري الارسال
      </div>
    </div>
  </ng-container>
  } @else {

  <tp-arafah-allocation-status [pack]="pack" />
  <div class="flex w-full justify-start gap-2" *ngIf="avaData$ | async as data">
    <div>
      <button class="btn btn-sm btn-primary" [routerLink]="['create']">
        انشاء سكن جديد
      </button>
    </div>
    <button
      (click)="allocate()"
      class="btn btn-sm btn-accent"
      [disabled]="data.males.beds.created < data.males.total"
    >
      تسكين الحجاج
    </button>
  </div>
  @if (pack === 'package1') {
  <tp-arafa-pack1-stepper />

  } @else {
  <tp-arafa-pick4-stepper />
  }
  <!-- <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
  >
    @for (item of obs | async; track $index) {
    <tp-arafah-card [data]="item" />
    }
  </div>
  <div class="flex justify-center">
    <mat-paginator
      appTpPaginator
      [appCustomLength]="dataSource.data.length"
      [length]="dataSource.data.length"
      [pageSize]="5"
    />
  </div> -->
  }
</section>
