<section class="page-content">
  <h1 class="page-title">
    سكن عرفة - باقة {{ pack === "package1" ? "1" : "4" }}
  </h1>
  <tp-arafah-allocation-status
    [pack]="pack === 'package1' ? 'package1' : 'package4'"
  />
  <div class="flex w-full justify-end">
    <button class="btn btn-primary" (click)="allocate()">تسكين الكل</button>

    <div>
      <button class="btn btn-primary" [routerLink]="['create']">
        انشاء سكن جديد
      </button>
    </div>
  </div>
  <tp-arafa-pack1-stepper />
  <!-- <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
  >
    @for (item of obs | async; track $index) {
    <tp-arafah-card [data]="item" />
    }
  </div>
  <div class="flex justify-center">
    <mat-paginator
      appTpPaginator
      [appCustomLength]="dataSource.data.length"
      [length]="dataSource.data.length"
      [pageSize]="5"
    />
  </div> -->
</section>
