<section class="page-content">
  <h1 class="page-title">سكن عرفة - باقة 1</h1>
  <div class="grid grid-cols-4 gap-4"></div>

  <div class="card shadow-sm">
    <div class="card-body flex flex-col gap-8">
      <div class="flex gap-4" [formGroup]="form">
        <div class="tp-control">
          <label> عدد الصالات</label>
          <label
            class="input input-bordered flex items-center gap-2"
            [ngClass]="{
              'input-error':
                controls.no_lounges.touched && controls.no_lounges.errors
            }"
          >
            <input
              type="text"
              class="w-full"
              maxlength="100"
              placeholder="100"
              formControlName="no_lounges"
            />
          </label>
          @if(controls.no_lounges.touched && controls.no_lounges.errors) {
          <small> حدث خطا </small>
          }
        </div>
        <div class="tp-control">
          <label> السعة</label>
          <label
            class="input input-bordered flex items-center gap-2"
            [ngClass]="{
              'input-error':
                controls.max_capacity.touched && controls.max_capacity.errors
            }"
          >
            <input
              type="text"
              class="w-full"
              maxlength="100"
              placeholder="100"
              formControlName="max_capacity"
            />
          </label>
          @if(controls.max_capacity.touched && controls.max_capacity.errors) {
          <small> حدث خطا </small>
          }
        </div>
      </div>

      <div class="flex gap-4 flex-wrap">
        @for (form of controls.lounges.controls; track form; let i = $index) {
        <form [formGroup]="controls.lounges.controls[i]">
          <div class="tp-control">
            <label> الصالة </label>
            <label
              class="input input-bordered flex items-center gap-2"
              [ngClass]="{
                'input-error':
                  controls.lounges.controls[i].controls.lounge_number.touched &&
                  controls.lounges.controls[i].controls.lounge_number.errors
              }"
            >
              <input
                type="text"
                class="w-full"
                maxlength="100"
                placeholder="100"
                formControlName="lounge_number"
              />
            </label>
            @if(controls.lounges.controls[i].controls.max_capacity.touched &&
            controls.lounges.controls[i].controls.max_capacity.errors) {
            <small> حدث خطا </small>
            }
          </div>
          <div class="tp-control">
            <label> السعة </label>
            <label
              class="input input-bordered flex items-center gap-2"
              [ngClass]="{
                'input-error':
                  controls.lounges.controls[i].controls.max_capacity.touched &&
                  controls.lounges.controls[i].controls.max_capacity.errors
              }"
            >
              <input
                type="number"
                class="w-full"
                maxlength="100"
                placeholder="100"
                formControlName="max_capacity"
              />
            </label>
            @if(controls.lounges.controls[i].controls.max_capacity.touched &&
            controls.lounges.controls[i].controls.max_capacity.errors) {
            <small> حدث خطا </small>
            }
          </div>
          <div class="tp-control self-end">
            <label class="cursor-pointer label flex gap-2">
              <span class="label-text">سكن للاناث</span>
              <input
                type="checkbox"
                class="toggle toggle-primary"
                formControlName="is_male_accommodation"
              />
              <span class="label-text">سكن للذكور</span>
            </label>
          </div>
        </form>
        }
      </div>
      <div class="flex">
        <button class="btn btn-primary" (click)="send()">ارسال</button>
      </div>
    </div>
  </div>
</section>
