<section class="table-container">
  <table mat-table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>التسلسل</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>الاسم</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Phone number Column -->
    <ng-container matColumnDef="phone_number">
      <th mat-header-cell *matHeaderCellDef>رقم الجوال</th>
      <td mat-cell *matCellDef="let element">{{ element.phone_number }}</td>
    </ng-container>

    <!-- Package name Column -->
    <ng-container matColumnDef="package_name">
      <th mat-header-cell *matHeaderCellDef>اسم الباقة</th>
      <td mat-cell *matCellDef="let element">{{ element.package_name }}</td>
    </ng-container>

    <!-- Package number Column -->
    <ng-container matColumnDef="package_number">
      <th mat-header-cell *matHeaderCellDef>رقم الباقة</th>
      <td mat-cell *matCellDef="let element">{{ element.package_number }}</td>
    </ng-container>
    <ng-container matColumnDef="national_id">
      <th mat-header-cell *matHeaderCellDef>رقم الهوية</th>
      <td mat-cell *matCellDef="let element">{{ element.national_id }}</td>
    </ng-container>

    <!-- Arafah accommodation Column -->
    <ng-container matColumnDef="arafah_accommodation">
      <th mat-header-cell *matHeaderCellDef>تسكين عرفة</th>
      <td mat-cell *matCellDef="let element">
        {{ element.arafah_accommodation }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="flex justify-between items-center pt-4">
    <button matRipple class="button-primary">تسكين الكل</button>
    <mat-paginator
      class="flex flex-wrap"
      appTpPaginator
      [length]="dataSource.data.length"
      [appCustomLength]="dataSource.data.length"
      [pageSize]="20"
    ></mat-paginator>
    <button matRipple class="button-primary-tint">تصدير ملف CSV</button>
  </div>
</section>
